/* CarPost.css */

.view-post-footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.view-post-footer div {
    display: flex;
    align-items: center;
}

.view-post-footer ion-badge {
    margin-left: 0.5rem;
}