.pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    margin: 0 5px;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.pagination-button:hover {
    background-color: #f0f0f0;
}

.medium-title {
    font-size: 1.5rem;
}